#body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: auto;
    width: auto;
}

.jumbotron {
    background: rgb(226, 226, 226);
	background-size: cover;
}

h1, h2, h3 {
    color: black;
    padding-top: 40px;
    font-family: 'Freckle Face', cursive;

}

#start {
    color: rgb(221, 253, 103);
}

#timer {
    font-weight: 1000;
}

.choices {
    font-family: 'Freckle Face', cursive;
    text-align: center;
    font-size: 24pt;
    border: groove 2px black;
	border-radius: 5%;

}
#triviaScreen {
    text-align: center;
    font-size: 32pt;
    font-family: 'Freckle Face', cursive;
    padding-bottom: 25px;
    color: black;
}
