#body {
    background-color: black;
    background-image: url("../images/bg.jpg");
    
}
#top {
    /* background-image: url("../images/bg.jpg"); */
    height: 100%;
    margin-bottom: 0;
    /* padding-top: 25px; */
}
#bottom {
    background-color: skyblue;
}
.display-4 {
    font-family: 'Freckle Face', cursive;
    text-align: center;
    font-size: 64pt;
}
#bottomText {
    text-align: center;
    font-size: 32pt;
    font-family: 'Freckle Face', cursive;
    padding-bottom: 25px;
}
.container {
    /* background-color: skyblue; */
}
#resetGame {
    border: 5px, black;
}